<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Country</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<h1 class="bg-dark text-center text-white">Country</h1>
<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        <a href="/main" class="btn btn-outline-success me-2" type="button">Main</a>
        <a href="/country" class="btn btn-sm btn-outline-secondary" type="button">Country</a>
        <a href="/region" class="btn btn-sm btn-outline-secondary" type="button">Region</a>
        <a href="/district" class="btn btn-sm btn-outline-secondary" type="button">District</a>
        <a href="/add" class="btn btn-sm btn-outline-secondary" type="button">Add Country</a>

    </form>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="country:${countries}">
        <td th:text="${country.id}"></td>
        <td th:text="${country.name}"></td>
        <td>
            <a th:href="|/edit/${country.getId()}|" class="btn btn-dark text-white">Edit</a>

            <form th:action="|/country/${country.getId()}|" method="post">
                <button class="btn btn-dark text-white">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>


</table>

</body>
</html>