<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditCountry</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row center-align">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Edit Country</h5>
                </div>
                <div class="card-body">
                    <form th:action="|/district/edit/${chosenDistrict.id}|" method="post">
                        <div class="form-group">
                            <label for="regionName">District Name:</label>
                            <input th:value="${chosenDistrict.name}" name="name" type="text" class="form-control" id="regionName">
                        </div>
                        <div class="form-group">
                            <label for="countrySelect">Select Region:</label>
                            <select name="regionId" id="countrySelect" class="form-control">
                                <option th:each="region : ${regions}"
                                        th:value="${region.id}"
                                        th:text="${region.name}"
                                        th:selected="${region.id == chosenDistrict.regionId}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary with w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div></body>
</html>